

* {
  font-family: 'Fira Sans', sans-serif;
  color: $greyText;
  font-size: rem-calc(17px);
  font-weight: 300;

}

body {
  background-color: #fff;
}

p {

  font-size: rem-calc(16px);
  transition: all 4s ease;
  color: $greyText;
}

a {
  color: $orangePrimary;
  text-decoration: none;
}

h1{
  font-size:42px;
  font-weight: bold;

}

h2{
  font-size: 42px;
  font-weight: 300;
}

h3 {
  font-size: 36px;
  font-weight: 300;
}

h4 {
  font-size: 32px;
  font-weight: 300;
}

h4 {
  font-size: 28px;
  font-weight: 300;
}

@media screen and(min-width: 768px){
  p{
    font-size: 12px;
  }
}

input {
  max-width: 300px;
  height: $heightBtnInput;
  border-radius: $borderRadiusBasic;
  border: 1px solid #cccccc;
  width: 100%
}

label {
  font-size: rem-calc(20px);
}

select {
  border-radius: $borderRadiusBasic;
}

//Basic container width max content width and padding for smaller viewports
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;

}