
//Breakpoints

$breakpoints: (
  'xs-phone': 320px,
  'phone': 576px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px,
  'x-widescreen': 1400px
);

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

$media-expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

//Paths

$imgPath: '../images/';
$fontPath: '../fonts/';
$fontPathFira: '../fonts/FiraSans/';

//Colors

$orangePrimary: #e15e30;
$orangeLightGradient: #ff9068;
$orangeDarkGradient: #eb5f1c;

$secondary: #333333;

$greyText: #333333;
$greyBg: #f7f7f7;
$greyBorder: #e0e0e0;
$whiteText: #ffffff;

